<div class="footer">
    <div class="copyright">
        <p>Copyright © Projetado &amp; Desenvolvido por <a href="#" target="_blank">DTTI - DEV </a> 2023</p>
        <p>Distribuído por <a href="#" target="_blank">MININT- Developement</a></p> 
    </div>
</div>