<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Qrcod - Park</title>
    
    <!-- PLUGINS CSS STYLE -->
    <link href="user/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="user/plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="user/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="user/plugins/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="user/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
    <!-- Fancy Box -->
    <link href="user/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <link href="user/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="user/plugins/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link href="user/css/style.css" rel="stylesheet">
  
    <!-- FAVICON -->
    <link href="user/img/favicon.png" rel="shortcut icon">
  
   
  
  </head>