<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/Dashboard">
            <span class="align-middle me-3">DigitalSeguros</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Area Administrativa
            </li>
            <li class="sidebar-item active">
                <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
                    <i class="align-middle" data-feather="sliders"></i> <span
                        class="align-middle">Dashboards</span>
                    <span class="badge badge-sidebar-primary">2</span>
                </a>
                <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show"
                    data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="/Dashboard">Area Adminstrativa</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/dashboardAnalise">Analise Geral</a></li>

                </ul>
            </li>
            <li class="sidebar-item">
                <a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Cultural Seguro</span>
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="/painelGeralCUltural">Painel Adminstrativo</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/listaUsuarioC">Usuários</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Musicas</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Artes</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Evento</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Livro</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Video</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Foto</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Categoria Musical</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Categoria Arte</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Categoria Evento</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Categoria Livro</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Categoria Video</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="">Categoria Foto</a></li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">
                            <i class="align-middle" data-feather="file"></i> <span
                                class="align-middle">Relatorios</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li class="sidebar-item">
                <a data-bs-target="#auth" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Auth</span>
                    <span class="badge badge-sidebar-secondary">Special</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-sign-in.html">Sign In</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-sign-up.html">Sign Up</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-reset-password.html">Reset
                            Password</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-404.html">404 Page</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="pages-500.html">500 Page</a></li>
                </ul>
            </li> -->
            <li class="sidebar-item">
                <a data-bs-target="#documentation" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="book-open"></i> <span
                        class="align-middle">Leasing Seguro</span>
                </a>
                <ul id="documentation" class="sidebar-dropdown list-unstyled collapse "
                    data-bs-parent="#sidebar">
                     <li class="sidebar-item"><a class="sidebar-link" href="/painelGeralLeasingSeguro">Painel Administrativo</a></li>
                     <li class="sidebar-item"><a class="sidebar-link" href="/listaUsuarioLeasing">Usuários</a></li>
                     <li class="sidebar-item"><a class="sidebar-link" href="/ListarParceiros">Parceiros Comercial</a></li>
                     <li class="sidebar-item"><a class="sidebar-link" href="">Parceiros Financeiros</a></li>
                     <li class="sidebar-item"><a class="sidebar-link" href="">Investidores</a></li>
                     <li class="sidebar-item"><a class="sidebar-link" href="">Serviços</a></li>
                     <li class="sidebar-item">
                        <li class="sidebar-header">
                            Solicitações 
                        </li> 
                         <li class="sidebar-item"><a class="sidebar-link" href="/listaTornarInvestidorLeasing">Tornar Investidor</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Leasing</a></li>
                           
                       
                    </li>
                    
                </ul>
            </li>
            <li class="sidebar-item">
                <a data-bs-target="#ui" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Shop Seguro</span>
                </a>
                <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    
                    <li class="sidebar-item"><a class="sidebar-link" href="/painelGeralShopseguro">Painel Adminstrativo</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/listaUsuarioShopSeguro">Usuários</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/listaVendedorShopSeguro">Vendedores</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/ProdutosActivos">Produtos Ativos</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/ProdutosInativos">Produtos Inativos(Analise) </a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/CategoriaProdutos">Categoria Produto</a></li></li>
                   <li class="sidebar-item">
                        <li class="sidebar-header">
                            Solicitações 
                        </li> 
                         <li class="sidebar-item"><a class="sidebar-link" href="/listaTornarVendedorShopSeguro">Tornar Vendedor</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="/ListarAdmins">Promoção de Produtos</a></li>
                           
                       
                    </li>
                    <li class="sidebar-header">
                        complementos
                    </li> 
                    
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">
                            <i class="align-middle" data-feather="file"></i> <span
                                class="align-middle">Relatorios</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-header">
                Sistema Geral
            </li>

            <li class="sidebar-item">
                <a data-bs-target="#forms" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="check-square"></i> <span
                        class="align-middle">Usuários</span>
                </a>
                <ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="/listaUsuario">Lista usuário</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/ListarAdmins">Lista Administrador</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/ListarCoordenador">Lista Coordenador</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/ListarAcesso">Acessos</a></li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/feedbaks">
                    <i class="align-middle" data-feather="list"></i> <span class="align-middle">Feedback</span>
                </a>
            </li>

            <li class="sidebar-header">
                Plugins e complementos
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/ListarRetornoChamada">
                    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">solicitações de Retorno</span>
                </a>
                <ul id="form-plugins" class="sidebar-dropdown list-unstyled collapse "
                    data-bs-parent="#sidebar">
                    <!-- <li class="sidebar-item"><a class="sidebar-link" href="forms-advanced-inputs.html">Advanced
                            Inputs</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="forms-editors.html">Editors</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="forms-validation.html">Validation</a>
                    </li>
                    <li class="sidebar-item"><a class="sidebar-link" href="forms-wizard.html">Wizard</a></li> -->
                </ul>
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" href="/Dashboard">
                    <i class="align-middle" data-feather="pie-chart"></i> <span
                        class="align-middle">Graficos & Estatísticas</span>
                </a>
                <ul id="charts" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <!-- <li class="sidebar-item"><a class="sidebar-link" href="charts-chartjs.html">Chart.js</a>
                    </li>
                    <li class="sidebar-item"><a class="sidebar-link" href="charts-apexcharts.html">ApexCharts
                            <span class="badge badge-sidebar-primary">New</span></a></li> -->
                </ul>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/ListarAcesso">
                    <i class="align-middle" data-feather="bell"></i> <span
                        class="align-middle">Notificações</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="file"></i> <span
                        class="align-middle">Relatorios</span>
                </a>
            </li>
        </ul>

    </div>
</nav>