<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from htmlstream.com/preview/front-dashboard-v2.0/authentication-signup-cover.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jul 2022 06:37:44 GMT -->

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Qrcod - estacionamento</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="assets/css/vendor.min.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="assets/css/theme.minc619.css?v=1.0">

  <link rel="preload" href="assets/css/theme.min.css" data-hs-appearance="default" as="style">
  <link rel="preload" href="assets/css/theme-dark.min.css" data-hs-appearance="dark" as="style">

  <style data-hs-appearance-onload-styles>
    * {
      transition: unset !important;
    }

    body {
      opacity: 0;
    }
  </style>

  <script>
    window.hs_config = {
      "autopath": "@@autopath",
      "deleteLine": "hs-builder:delete",
      "deleteLine:build": "hs-builder:build-delete",
      "deleteLine:dist": "hs-builder:dist-delete",
      "previewMode": false,
      "startPath": "/index.html",
      "vars": {
        "themeFont": "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap",
        "version": "?v=1.0"
      },
      "layoutBuilder": {
        "extend": {
          "switcherSupport": true
        },
        "header": {
          "layoutMode": "default",
          "containerMode": "container-fluid"
        },
        "sidebarLayout": "default"
      },
      "themeAppearance": {
        "layoutSkin": "default",
        "sidebarSkin": "default",
        "styles": {
          "colors": {
            "primary": "#377dff",
            "transparent": "transparent",
            "white": "#fff",
            "dark": "132144",
            "gray": {
              "100": "#f9fafc",
              "900": "#1e2022"
            }
          },
          "font": "Inter"
        }
      },
      "languageDirection": {
        "lang": "en"
      },
      "skipFilesFromBundle": {
        "dist": ["assets/js/hs.theme-appearance.js", "assets/js/hs.theme-appearance-charts.js", "assets/js/demo.js"],
        "build": ["assets/css/theme.css", "assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js", "assets/js/demo.js", "assets/css/theme-dark.html", "assets/css/docs.css", "assets/vendor/icon-set/style.html", "assets/js/hs.theme-appearance.js", "assets/js/hs.theme-appearance-charts.js", "node_modules/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.html", "assets/js/demo.js"]
      },
      "minifyCSSFiles": ["assets/css/theme.css", "assets/css/theme-dark.css"],
      "copyDependencies": {
        "dist": {
          "*assets/js/theme-custom.js": ""
        },
        "build": {
          "*assets/js/theme-custom.js": "",
          "node_modules/bootstrap-icons/font/*fonts/**": "assets/css"
        }
      },
      "buildFolder": "",
      "replacePathsToCDN": {},
      "directoryNames": {
        "src": "./src",
        "dist": "./dist",
        "build": "./build"
      },
      "fileNames": {
        "dist": {
          "js": "theme.min.js",
          "css": "theme.min.css"
        },
        "build": {
          "css": "theme.min.css",
          "js": "theme.min.js",
          "vendorCSS": "vendor.min.css",
          "vendorJS": "vendor.min.js"
        }
      },
      "fileTypes": "jpg|png|svg|mp4|webm|ogv|json"
    }
    window.hs_config.gulpRGBA = (p1) => {
      const options = p1.split(',')
      const hex = options[0].toString()
      const transparent = options[1].toString()

      var c;
      if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
        c = hex.substring(1).split('');
        if (c.length == 3) {
          c = [c[0], c[0], c[1], c[1], c[2], c[2]];
        }
        c = '0x' + c.join('');
        return 'rgba(' + [(c >> 16) & 255, (c >> 8) & 255, c & 255].join(',') + ',' + transparent + ')';
      }
      throw new Error('Bad Hex');
    }
    window.hs_config.gulpDarken = (p1) => {
      const options = p1.split(',')

      let col = options[0].toString()
      let amt = -parseInt(options[1])
      var usePound = false

      if (col[0] == "#") {
        col = col.slice(1)
        usePound = true
      }
      var num = parseInt(col, 16)
      var r = (num >> 16) + amt
      if (r > 255) {
        r = 255
      } else if (r < 0) {
        r = 0
      }
      var b = ((num >> 8) & 0x00FF) + amt
      if (b > 255) {
        b = 255
      } else if (b < 0) {
        b = 0
      }
      var g = (num & 0x0000FF) + amt
      if (g > 255) {
        g = 255
      } else if (g < 0) {
        g = 0
      }
      return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16)
    }
    window.hs_config.gulpLighten = (p1) => {
      const options = p1.split(',')

      let col = options[0].toString()
      let amt = parseInt(options[1])
      var usePound = false

      if (col[0] == "#") {
        col = col.slice(1)
        usePound = true
      }
      var num = parseInt(col, 16)
      var r = (num >> 16) + amt
      if (r > 255) {
        r = 255
      } else if (r < 0) {
        r = 0
      }
      var b = ((num >> 8) & 0x00FF) + amt
      if (b > 255) {
        b = 255
      } else if (b < 0) {
        b = 0
      }
      var g = (num & 0x0000FF) + amt
      if (g > 255) {
        g = 255
      } else if (g < 0) {
        g = 0
      }
      return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16)
    }
  </script>
</head>

<body class="d-flex align-items-center min-h-100">

  <script src="assets/js/hs.theme-appearance.js"></script>

  <!-- ========== HEADER ========== -->
  <header class="position-absolute top-0 start-0 end-0 mt-3 mx-3">
    <div class="d-flex d-lg-none justify-content-center">
      <a href="/">
        <img src="./assets/MININT.png" style="min-width: 15rem; max-width: 15rem; width: 15rem;" alt="" srcset="">
      </a>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="main pt-0">
    <!-- Content -->
    <div class="container-fluid px-3">
      <div class="row">
        <div class="row">
          <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
            <!-- Logo & Language -->
            <div class="position-absolute top-0 start-0 end-0 mt-3 mx-3">
              <div class="d-none d-lg-flex justify-content-between">
                <a href="/">

              <img src="user/images/logo.png" alt="Image Description" style="min-width: 6rem; max-width: 6rem; width: 9rem;">

                </a>


              </div>
            </div>
            <!-- End Logo & Language -->

            <div style="max-width: 23rem;">
              <div class="text-center mb-5">
                <img class="img-fluid" src="/assets/svg/illustrations/oc-chatting.svg" alt="Image Description" style="width: 12rem;" data-hs-theme-appearance="default">
                <img class="img-fluid" src="/assets/svg/illustrations-light/oc-chatting.svg" alt="Image Description" style="width: 12rem;" data-hs-theme-appearance="dark">
              </div>

              <div class="mb-5">
                <h2 class="display-5">Portal Interno do MININT</h2>
              </div>

              <!-- List Checked -->
              <ul class="list-checked list-checked-lg list-checked-primary list-py-2">
                <li class="list-checked-item">
                  <span class="d-block fw-semi-bold mb-1">Solicite serviços online</span>
                  Oferece uma variedade de serviços online para os usuários solicitarem com facilidade
                </li>

                <li class="list-checked-item">
                  <span class="d-block fw-semi-bold mb-1">Peça assistencia</span>
                  Ele reúne suas tarefas, projetos, cronogramas, arquivos e muito mais
                </li>
              </ul>

            </div>
          </div>
          <!-- End Col -->

          <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
            <div class="w-100 content-space-t-4 content-space-t-lg-2 content-space-b-1" style="max-width: 25rem;">
              <!-- Form -->
              <form class="js-validate needs-validation" novalidate method="post" action="registar_se">
                <div class="text-center">
                  <div class="mb-5">
                    <h1 class="display-5">Faça seu registro</h1>
                    <p>Já está registrado? <a class="link" href="/fom_login">Clique aqui</a></p>
                  </div>


                  <span class="divider-center text-muted mb-4">OU</span>
                </div>




                <!-- End Form col-sm-6 -->
                <!-- Form -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="signupSrEmail">Seu NIP</label>
                      <input type="text" class="form-control form-control-lg" name="nip_user" id="signupSrEmail" placeholder="" aria-label="MarkDomingos@site.com" required>
                      <span class="invalid-feedback">Por favor entre com seu NIP valido.</span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="signupSrEmail">Seu NIF</label>
                      <input type="text" class="form-control form-control-lg" name="nif_user" id="signupSrEmail" placeholder="" aria-label="MarkDomingos@site.com">
                      <span class="invalid-feedback">Por favor entre com seu NIP valido.</span>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="signupSrEmail">Contacto</label>
                      <input type="text" class="form-control form-control-lg" name="telefone_user" id="signupSrEmail" placeholder="+244" aria-label="MarkDomingos@site.com" required>
                      <span class="invalid-feedback">Por favor entre com seu NIP valido.</span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="signupSrEmail">Seu email</label>
                      <input type="email" class="form-control form-control-lg" name="email_user" id="signupSrEmail" placeholder="exemplo@site.com" aria-label="exemplo@site.com" required>
                      <span class="invalid-feedback">Por favor entre com email valiado.</span>
                    </div>
                  </div>

                </div>



                <div class="row">
                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="signupSrPassword">Senha</label>

                      <div class="input-group input-group-merge" data-hs-validation-validate-class>
                        <input type="password" class="js-toggle-password form-control form-control-lg" name="senha_user" id="signupSrPassword" placeholder="8+ caracteres necessários" aria-label="8+ caracteres necessários" required minlength="8" data-hs-toggle-password-options='{
                                   "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                                   "defaultClass": "bi-eye-slash",
                                   "showClass": "bi-eye",
                                   "classChangeTarget": ".js-toggle-password-show-icon-1"
                                 }'>
                        <a class="js-toggle-password-target-1 input-group-append input-group-text" href="javascript:;">
                          <i class="js-toggle-password-show-icon-1 bi-eye"></i>
                        </a>
                      </div>

                      <span class="invalid-feedback">Senha invalida, tenta novamente.</span>
                    </div>
                    <!-- End Form -->
                  </div>

                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="signupSrConfirmPassword">Confirmar senha</label>

                      <div class="input-group input-group-merge" data-hs-validation-validate-class>
                        <input type="password" class="js-toggle-password form-control form-control-lg" name="senha_user2" id="signupSrConfirmPassword" placeholder="8+ caracteres necessários" aria-label="8+ caracteres necessários" required minlength="8" data-hs-toggle-password-options='{
                                   "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                                   "defaultClass": "bi-eye-slash",
                                   "showClass": "bi-eye",
                                   "classChangeTarget": ".js-toggle-password-show-icon-2"
                                 }'>
                        <a class="js-toggle-password-target-2 input-group-append input-group-text" href="javascript:;">
                          <i class="js-toggle-password-show-icon-2 bi-eye"></i>
                        </a>
                      </div>

                      <span class="invalid-feedback">Senhas não são iguais, tente novamente.</span>
                    </div>
                    <!-- End Form -->
                  </div>
                </div>
                <!-- End Form -->

                <!-- Form Check -->
                <div class="form-check mb-4">
                  <input class="form-check-input" type="checkbox" value="" id="termsCheckbox" required>
                  <label class="form-check-label" for="termsCheckbox">
                    Aceito os <a href="#">Termos e condições</a>
                  </label>
                  <span class="invalid-feedback">Por favor aceita os termos e condições.</span>
                </div>
                <!-- End Form Check -->

                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary btn-lg rounded-pill">Registrar</button>

                </div>
              </form>
              <!-- End Form -->
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- JS Implementing Plugins -->
  <script src="assets/js/vendor.min.js"></script>

  <!-- JS Front -->
  <script src="assets/js/theme.min.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      window.onload = function() {
        // INITIALIZATION OF BOOTSTRAP VALIDATION
        // =======================================================
        HSBsValidation.init('.js-validate', {
          onSubmit: data => {
            data.event.preventDefault()
            // enviar dados para o servidor
            const form = data.event.target;
            // validar o formulário antes de enviar
            if (form.checkValidity()) {
              // enviar o formulário
              form.submit();
            } else {
              // exibir mensagem de erro
              alert("Por favor, corrija os campos inválidos antes de enviar.")
            }
          }
        })


        // INITIALIZATION OF TOGGLE PASSWORD
        // =======================================================
        new HSTogglePassword('.js-toggle-password')


        // INITIALIZATION OF SELECT
        // =======================================================
        HSCore.components.HSTomSelect.init('.js-select')
      }
    })()
  </script>
  <%- include("../../alerts/alerts") %>
</body>

<!-- Mirrored from htmlstream.com/preview/front-dashboard-v2.0/authentication-signup-cover.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jul 2022 06:37:44 GMT -->

</html>