<div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Nosso escritório</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Belas Business Park, Torre Cunene, 3°Andar Portas: 307 e 308.</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+244 922169743 / 997294310</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>seguro@digitalseguros.ao</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                            class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Serviços</h4>
                <a class="btn btn-link" href="">Digital Seguros</a>
                <a class="btn btn-link" href="">Cultural Seguro</a>
                <a class="btn btn-link" href="">Leasing Seguro</a>
                <a class="btn btn-link" href="">Electro Seguro</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Links Rápidos</h4>
                <a class="btn btn-link" href="">Sobre nós</a>
                <a class="btn btn-link" href="">Contactos</a>
                <a class="btn btn-link" href="">Serviços</a>
                <a class="btn btn-link" href="">Suporte</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Newsletter</h4>
                <p>Increva-se na nossa Newsletter</p>
                <div class="position-relative w-100">
                    <form action="/Inscrever_se" method="post">
                    <input class="form-control bg-white border-0 w-100 py-3 ps-4 pe-5" type="email"
                        placeholder="Email" name="email" required>
                    <button type="submit"
                        class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Inscreva-se</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="container-fluid copyright py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">Digital Seguros</a>, Todos direitos reservados.
            </div>
            <div class="col-md-6 text-center text-md-end">
               Criado por <a class="border-bottom" href="/">Galec Bussiness</a> 
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
        class="bi bi-arrow-up"></i></a>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/Site/lib/wow/wow.min.js"></script>
        <script src="/Site/lib/easing/easing.min.js"></script>
        <script src="/Site/lib/waypoints/waypoints.min.js"></script>
        <script src="/Site/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/Site/lib/counterup/counterup.min.js"></script>
        <script src="/Site/js/main.js"></script>

