<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from appstack.bootlab.io/ui-carousel.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Nov 2022 19:15:37 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<%- include('../Partes/head')  %>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-behavior: sticky (default), fixed, compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
	<div class="wrapper">
		<%- include('../Partes/sidebar')  %>
		<div class="main">
			<%- include('../Partes/nav')  %>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Embed Video</h1>

					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Responsive embed video 1:1</h5>
									<h6 class="card-subtitle text-muted">1:1 aspect ratio</h6>
								</div>
								<div class="card-body pt-0">
									<div class="ratio ratio-16x9">
										<iframe src="https://www.youtube.com/embed/foE1mO2yM04?autohide=0&amp;showinfo=0&amp;controls=0"></iframe>
									</div>
								</div>
							</div>
							
						</div>
						<div class="col-12 col-lg-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Responsive embed video 16:9</h5>
									<h6 class="card-subtitle text-muted">16:9 aspect ratio</h6>
								</div>
								<div class="card-body pt-0">
									<div class="ratio ratio-16x9">
										<iframe src="https://www.youtube.com/embed/pdGje1CNQk0?autohide=0&amp;showinfo=0&amp;controls=0"></iframe>
									</div>
								</div>
							</div>
						
						</div>
						
					</div>
					
					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Responsive embed video 1:1</h5>
									<h6 class="card-subtitle text-muted">1:1 aspect ratio</h6>
								</div>
								<div class="card-body pt-0">
									<div class="ratio ratio-16x9">
										<iframe src="https://www.youtube.com/embed/anjTd9mraeA?autohide=0&amp;showinfo=0&amp;controls=0"></iframe>
									</div>
								</div>
							</div>
							
						</div>
						<div class="col-12 col-lg-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Responsive embed video 16:9</h5>
									<h6 class="card-subtitle text-muted">16:9 aspect ratio</h6>
								</div>
								<div class="card-body pt-0">
									<div class="ratio ratio-16x9">
										<iframe src="https://www.youtube.com/embed/UEcAPvoSe_8?autohide=0&amp;showinfo=0&amp;controls=0"></iframe>
									</div>
								</div>
							</div>
						
						</div>
						
					</div>

				</div>
			</main>

			<%- include('../Partes/footer')  %> 
		</div>
	</div>

	<script src="/Dash/js/app.js"></script>
	<script src="/sweetalert/sweetalert2.all.min.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Datatables with Buttons
			var datatablesButtons = $("#datatables-buttons").DataTable({
				responsive: true,
				lengthChange: !1,
				buttons: ["copy", "print"]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)");
		});
	</script>

</body>


<!-- Mirrored from appstack.bootlab.io/ui-carousel.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Nov 2022 19:15:37 GMT -->
</html>