<!DOCTYPE html>
<html lang="en">

<%- include('../Partes/head') %>


	<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
		<div class="wrapper">
			<%- include('../Partes/sidebar') %>
				<div class="main">
					<%- include('../Partes/nav') %>

						<main class="content">
							<div class="container-fluid p-0">

								<div class="row mb-2 mb-xl-3">
									<div class="col-auto d-none d-sm-block">
										<h3>Painel de controlo</h3>
									</div>
									
									<div class="col-auto ms-auto text-end mt-n1">

										<div class="dropdown me-2 d-inline-block">
											<a class="btn btn-light bg-white shadow-sm dropdown-toggle" href="#"
												data-bs-toggle="dropdown" data-bs-display="static">
												<i class="align-middle mt-n1" data-feather="calendar"></i> Hoje</a>

											<div class="dropdown-menu dropdown-menu-end">
												<h6 class="dropdown-header">Definições e Ajustes</h6>
												<!-- <a class="dropdown-item" href="#">Acção</a> -->
											</div>
										</div>

										<button class="btn btn-primary shadow-sm">
											<i class="align-middle" data-feather="filter">&nbsp;</i>
										</button>
										<button class="btn btn-primary shadow-sm">
											<i class="align-middle" data-feather="refresh-cw">&nbsp;</i>
										</button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-xxl-3 d-flex">
										<div class="card flex-fill">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Produtos</h5>
													</div>

													<div class="col-auto">
														<div class="stat stat-sm">
															<i class="align-middle" data-feather="shopping-bag"></i>
														</div>
													</div>
												</div>
												<span class="h1 d-inline-block mt-1 mb-3">12</span>
												<div class="mb-0">
													<span class="badge badge-soft-success me-2"> 0% </span>
													<span class="text-muted">Essa semana</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-xxl-3 d-flex">
										<div class="card flex-fill">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Compras</h5>
													</div>

													<div class="col-auto">
														<div class="stat stat-sm">
															<i class="align-middle" data-feather="shopping-cart"></i>
														</div>
													</div>
												</div>
												<span class="h1 d-inline-block mt-1 mb-3">3</span>
												<div class="mb-0">
													<span class="badge badge-soft-danger me-2"> 0% </span>
													<span class="text-muted">Essa semana</span>
												</div>
											</div>
										</div>
									</div>
									<!--
									<div class="col-md-6 col-xxl-3 d-flex">
										<div class="card flex-fill">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Operações</h5>
													</div>

													<div class="col-auto">
														<div class="stat stat-sm">
															<i class="align-middle" data-feather="activity"></i>
														</div>
													</div>
												</div>
												<span class="h1 d-inline-block mt-1 mb-3">0</span>
												<div class="mb-0">
													<span class="badge badge-soft-success me-2"> 0% </span>
													<span class="text-muted">Essa semana</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-xxl-3 d-flex">
										<div class="card illustration flex-fill">
											<div class="card-body p-0 d-flex flex-fill">
												<div class="row g-0 w-100">
													<div class="col-6">
														<div class="illustration-text p-3 m-1">
															<h4 class="illustration-text">Bem-vindo, ....!</h4>
															<p class="mb-0">Painel de controlo</p>
														</div>
													</div>
													<div class="col-6 align-self-end text-end">
														<img src="/Dash/img/illustrations/social.png" alt="Social"
															class="img-fluid illustration-img">
													</div>
												</div>
											</div>
										</div>
									</div>
									-->
								</div>

								<div class="row">
									<div class="col-12 col-lg-6 d-flex">
										<div class="card flex-fill w-100">
											<div class="card-header">
												<div class="card-actions float-end">
													<div class="dropdown position-relative">
														<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
															<i class="align-middle" data-feather="more-horizontal"></i>
														</a>

														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="#">Acção</a>
															
														</div>
													</div>
												</div>
												<h5 class="card-title mb-0">Estado da conta</h5>
											</div>
											<div class="card-body">
												<h6 class="card-subtitle text-muted">Obtenha os detalhes do estado de sua conta.</h6>

												<div class="card-body">
													<div class="chart">
														<canvas id="chartjs-polar-area"></canvas>
													</div>
												</div>


											</div>
										</div>
									</div>
									<div class="col-12 col-md-7 col-lg-6 col-xxl-6 d-flex">
										<div class="card flex-fill w-100">
											<div class="card-header">
												<div class="card-actions float-end">
													<div class="dropdown position-relative">
														<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
															<i class="align-middle" data-feather="more-horizontal"></i>
														</a>

														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="#">Acção</a>
															
														</div>
													</div>
												</div>
												<h5 class="card-title mb-0">Solicitações / Operações</h5>
											</div>
											<div class="card-body d-flex w-100">
												<div class="align-self-center chart">
													<canvas id="chartjs-dashboard-bar"></canvas>
												</div>
											</div>
										</div>
									</div>
									
								</div>

								<div class="card flex-fill">
									<div class="card-header">
										<div class="card-actions float-end">
											<div class="dropdown position-relative">
												<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
													<i class="align-middle" data-feather="more-horizontal"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="#">Acção</a>
													
												</div>
											</div>
										</div>
										<h5 class="card-title mb-0">Solicitações recentes</h5>
									</div>
									<table id="datatables-dashboard-products" class="table table-striped my-0">
										<thead>
											<tr>
												<th>Name</th>
												<th class="d-none d-xl-table-cell">Tech</th>
												<th class="d-none d-xl-table-cell">License</th>
												<th class="d-none d-xl-table-cell">Tickets</th>
												<th>Sales</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>AppStack Theme</td>
												<td><span class="badge bg-success">HTML</span></td>
												<td class="d-none d-xl-table-cell">Single license</td>
												<td class="d-none d-xl-table-cell">50</td>
												<td class="d-none d-xl-table-cell">720</td>
											</tr>

										</tbody>
									</table>
								</div>

							</div>
						</main>

						<%- include("../Partes/footer") %> 
				</div>
		</div>

		<script src="/Dash/js/app.js"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				var markers = [{
					coords: [37.77, -122.41],
					name: "San Francisco: 375"
				},
				{
					coords: [40.71, -74.00],
					name: "New York: 350"
				},
				{
					coords: [39.09, -94.57],
					name: "Kansas City: 250"
				},
				{
					coords: [36.16, -115.13],
					name: "Las Vegas: 275"
				},
				{
					coords: [32.77, -96.79],
					name: "Dallas: 225"
				}
				];
				var map = new jsVectorMap({
					map: "us_aea_en",
					selector: "#usa_map",
					zoomButtons: true,
					markers: markers,
					markerStyle: {
						initial: {
							r: 9,
							stroke: window.theme.white,
							strokeWidth: 7,
							stokeOpacity: .4,
							fill: window.theme.primary
						},
						hover: {
							fill: window.theme.primary,
							stroke: window.theme.primary
						}
					},
					regionStyle: {
						initial: {
							fill: window.theme["gray-200"]
						}
					},
					zoomOnScroll: false
				});
				window.addEventListener("resize", () => {
					map.updateSize();
				});
				setTimeout(function () {
					map.updateSize();
				}, 250);
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				$("#datatables-dashboard-products").DataTable({
					pageLength: 6,
					lengthChange: false,
					bFilter: false,
					autoWidth: false
				});
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				// Bar chart
				new Chart(document.getElementById("chartjs-dashboard-bar"), {
					type: "bar",
					data: {
						labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
						datasets: [{
							label: "Last year",
							backgroundColor: window.theme.primary,
							borderColor: window.theme.primary,
							hoverBackgroundColor: window.theme.primary,
							hoverBorderColor: window.theme.primary,
							data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
							barPercentage: .325,
							categoryPercentage: .5
						}, {
							label: "This year",
							backgroundColor: window.theme["primary-light"],
							borderColor: window.theme["primary-light"],
							hoverBackgroundColor: window.theme["primary-light"],
							hoverBorderColor: window.theme["primary-light"],
							data: [69, 66, 24, 48, 52, 51, 44, 53, 62, 79, 51, 68],
							barPercentage: .325,
							categoryPercentage: .5
						}]
					},
					options: {
						maintainAspectRatio: false,
						cornerRadius: 15,
						legend: {
							display: false
						},
						scales: {
							yAxes: [{
								gridLines: {
									display: false
								},
								ticks: {
									stepSize: 20
								},
								stacked: true,
							}],
							xAxes: [{
								gridLines: {
									color: "transparent"
								},
								stacked: true,
							}]
						}
					}
				});
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				// Polar Area chart
				new Chart(document.getElementById("chartjs-polar-area"), {
					type: "polarArea",
					data: {
						labels: ["Speed", "Reliability", "Comfort", "Safety", "Efficiency"],
						datasets: [{
							label: "Model S",
							data: [35, 38, 65, 70, 24],
							backgroundColor: [
								window.theme.primary,
								window.theme.success,
								window.theme.danger,
								window.theme.warning,
								window.theme.info
							]
						}]
					},
					options: {
						maintainAspectRatio: false
					}
				});
			});
		</script>

	</body>


	<!-- Mirrored from appstack.bootlab.io/dashboard-saas.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Nov 2022 19:15:33 GMT -->

</html>